# =====================
# Backend (.env)
# =====================
PORT=5000
MONGO_URL=mongodb+srv://username:password@cluster.mongodb.net/database_name

# Local url
FRONTEND_URL=http://localhost:3000
# Production url
FRONTEND_URL=https://red-sprint-tracker.netlify.app

# Clerk keys
# Note: backend auth usually requires CLERK_SECRET_KEY.
CLERK_PUBLISHABLE_KEY=xxxxxxxxxxxxxxxxx
CLERK_SECRET_KEY=xxxxxxxxxxxxxxxxx




# =====================
# Frontend (frontend/.env)
# =====================

# Local url
REACT_APP_BASE_URL=http://localhost:5000/api
# Production url 
REACT_APP_BASE_URL=https://redcomprostorytracker.onrender.com/api

REACT_APP_CLERK_PUBLISHABLE_KEY=xxxxxxxxxxxxxxxxx
