@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;600;700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Mulish', sans-serif;
  scroll-behavior: smooth;
}
input,
textarea,
select,
button {
  font-family: inherit;
  font-size: inherit;
}
button{
  font-size: .85rem;
}

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  display: none;
}

/* Firefox / IE / old Edge */
* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
